// main: ../main.scss
// lots of infos in styles/components/_form-ul-select-text.scss
ul[data-purpose=choose-images] {
  li {
    overflow: hidden;
    height: 150px;
    padding: 0 !important;
  }
  img,
  input[type="checkbox"] {
    width: 100%;
  }
}
