// main: ../main.scss
div[data-behaviour="checkbox-timeout"] {
    ul[data-purpose="checkbox-select"] {
        li {
          input[type="checkbox"] {
              -webkit-appearance: none;
          }
          input[type="checkbox"]::before {
              @include checkbox-before;
              content: '';
              position: relative;
              margin-left: 70px;
              margin-bottom: 18px;
          }
        }
    }
}
