// main: ../main.scss
div[data-behaviour="checkbox-timeout"] {
    ul[data-purpose="checkbox-select"] {
        margin-bottom: 20px;
        li {
          margin-top: 20px;
          margin-left: 40%;

          input[type="checkbox"] {
              -webkit-appearance: none;
              @include checkbox-before;
              content: '';
              position: relative;
          }
          input[type=checkbox]:checked {
            @include checkbox-before-active;
          }
        }
    }
}
