// main: ../main.scss
:focus {
  outline-color: $color-red;
  outline-width: 4px;
}
input[type=checkbox]:focus {
  outline: none;
}
li {
  position: relative;
}

#img-08 {
  margin-top: 20px;
  width: 100vw;
  margin-left: -50px;
  height: 200px;
  background-color: $color-slateblue;
  background-size: 100%;
background-repeat: no-repeat;
background-position: center;
}
