// main: ../main.scss
@mixin gradient-topbright {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeece8+0,e7e1df+67,d8cacb+100 */
  background: #eeece8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeece8 0%, #e7e1df 67%, #dac9cc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeece8 0%,#e7e1df 67%,#dac9cc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeece8 0%,#e7e1df 67%,#dac9cc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#eeece8', endColorstr='#dac9cc',GradientType=0 );
  /* IE6-9 */
  border: 1px solid $color-red;
}
@mixin gradient-topdark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e2e2+0,f3f1ef+100 */
  background: rgb(233,226,226);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(233,226,226,1) 0%, rgba(243,241,239,1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(233,226,226,1) 0%,rgba(243,241,239,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(233,226,226,1) 0%,rgba(243,241,239,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#e9e2e2', endColorstr='#f3f1ef',GradientType=0 );
  /* IE6-9 */
}
@mixin gradient-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae6e1+32,ebe9e5+73,efedeb+100 */
  background: rgb(255,255,255);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,230,225,1) 32%, rgba(235,233,229,1) 73%, rgba(239,237,235,1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,230,225,1) 32%,rgba(235,233,229,1) 73%,rgba(239,237,235,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(234,230,225,1) 32%,rgba(235,233,229,1) 73%,rgba(239,237,235,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffffff', endColorstr='#efedeb',GradientType=0 );
  /* IE6-9 */
}
@mixin gradient-topbrightstrong {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f1f1+34,f3f1f1+60,d9c9cc+100 */
  background: rgb(255,255,255);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,241,241,1) 34%, rgba(243,241,241,1) 60%, rgba(217,201,204,1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,241,241,1) 34%,rgba(243,241,241,1) 60%,rgba(217,201,204,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,241,241,1) 34%,rgba(243,241,241,1) 60%,rgba(217,201,204,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#ffffff', endColorstr='#d9c9cc',GradientType=0 );
  /* IE6-9 */
}
@mixin gradient-body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f2f1+46,fffcfc+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,242,241,1) 46%, rgba(255,252,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,242,241,1) 46%,rgba(255,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,242,241,1) 46%,rgba(255,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffcfc',GradientType=0 ); /* IE6-9 */

}
