// main: ../main.scss
@import 'https://fonts.googleapis.com/css?family=Space+Mono';
body {
  font-size: 16px;
  font-family: 'Space Mono', monospace;
}

q {
  quotes: '«' '»';
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}


h4 { // small headline
  font-size: 1.25em;
  font-weight: bold;
}

h2 {
  color: $color-mint;
  font-size: 1.125em; // 18pt
  text-transform: uppercase;
  font-weight: bold;

  -webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
}


p { // running text
  font-size: 1em;
  font-weight: normal;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
