// main: ../main.scss
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';

@mixin typo-label-uppercase {
    color: $color-mint;
    font-size: 1.125em; // 18pt
    text-transform: uppercase;
    font-weight: bold;
}
@mixin typo-label-lowercase {
    text-transform: lowercase;
    color: $color-black;
}

body {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Ubuntu Mono', monospace;
}
q {
    quotes: '«' '»';
}
a {
  color: $color-mint;
  font-weight: bold;
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
h4 {
    // small headline
    font-size: 1.25em;
    font-weight: bold;
}

p { // running text
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4em;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
h2 {
    @include typo-label-uppercase;

      -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
