//main
@import 'base/normalize',
        'base/customreset',
        'base/colors',
        'base/typography',
        'base/gradient';
// components
@import 'components/general',

        'components/scr-wrapper',
        'components/scr-chapters',
        'components/scr-header',
        'components/scr-btnnext',

        'components/form-general',

        'components/form-ul-checkbox-text',
        'components/form-ul-checkbox-images',

        'components/form-ul-input-text',
        'components/form-ul-select-text';


// scrollable/not scrollable page


body {
  overflow: hidden;
}
section[role=scr-wrapper] {
  overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
